/* css/journey.css */

#journey h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 1vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: #2c2d31;
  border-bottom:1px solid #2c2d31e5 ;
  font-size: 4vh;
  display: inline-block ;
  margin-left: 5vw;
}

.journey-image{
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url("../assets/j.jpg")center/cover no-repeat;
  width: 100vw;
  aspect-ratio: 4000/3000;
  font-family: var(--font-body);
  display: flex;
  align-items: center;
  padding: 2vh 0;
  justify-content: space-between;
  margin-top: 4vh;
  flex-direction: column;
}

.journey-image h3{
  color: #fff;
  font-size: 3.3vh;
  text-align: center;
letter-spacing: 1px;
font-weight: 400;
margin-top: 5vh;
}
.journey-para p{
font-family: var(--font-subtitle);
width: 90vw;
margin-left: 5vw;
text-align: center;
font-size: 2.1vh;
line-height: 1.5;
}
.journey-para{
  margin-top: 4vh;
}
.journey-image a{
color: #fff;
border: 1px solid #fff;
text-decoration: none;
padding: 1vh 3vw;
font-size: 2.2vh;
font-family: var(--font-body);
}