/* css/portfolio.css */

#portfolio h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  font-size: 4vh;
  display: inline-block ;
  border-bottom: 1px solid #2c2d31e5;
  margin-top: 6vh;
   padding-left: 1vw;
  padding-right: 3vw;
  margin-bottom: 4vh;
  margin-left: 5vw;
}

#portfolio-first {
  display: flex;
  margin-bottom: 4vh;
  margin-top: 3vh;
}

.portfolio-text h3{
  text-align: center;
  font-family: var(--font-body);
  color: #2c2d31;
}
.portfolio-text p{
  text-align: center;
  font-family: var(--font-subtitle);
  color: #2c2d31;
  line-height: 1.3;
}

/* text on left */
.portfolio-text {
  width: 45vw;
  margin-left: 3vw;
  margin-right: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

/* image on right */
.portfolio-image {
  width: 45vw;
}

.portfolio-image img {
  width: 100%;
}

/* slider image below */
.slider img {
  width: 90vw;
  margin-left: 5vw;
  box-shadow: 2px 2px 10px #2c2d316f;
}
#portfolio{
  margin-bottom: 5vh;
}
/* TABLET PORTRAIT */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  #portfolio h2 {
  margin-top: 6vh;
}
.portfolio-text h3{
  font-size: 3.5vh;
}
.portfolio-text p{
  font-size: 2.6vh;
}
}