
#service {
  position: sticky;
  top: 6vh;
  padding-top: 0.5vh;
  min-height: 90dvh;
  width: 100%;
  z-index: 10;
  background-color: #f8f8f8;
}

/* Class added by JS when the section is "pinned" in the viewport */


#service h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 1vw;
  display: inline-block ;
  margin-left: 5vw;
  font-size: 3.5vh;
  border-bottom: 1px solid #2c2d31d7;
}

/* Container that holds all slides */
#service-container {
  position: relative;
  /* Use full viewport height minus header/title space */
  min-height: calc(100vh - 12vh);
  margin-top: 2vh;
  margin-bottom: 7vh;
  overflow: hidden;
  padding-top: 2vh;
}

/* --- Slide Transition and Layout Fixes --- */

.service-slide {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 1vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.service-slide.is-current {
  opacity: 1;
  pointer-events: auto;
}

/* --- Image and Data Alignment (Fixing the gap/shifting) --- */

.service-data{
  width: 100%;
  max-width: 600px;
  margin-left: auto; /* Center within the available space */
  margin-right: auto;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  
}

.service-data h3{
  text-align: right;
  margin: 1vh 2vw;
  font-size: 3vh;
  margin-top: 2vh;
}
.service-data p{
  text-align: right;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin: 0.5vh 2vw;
}

.service-logo{
  display: flex;
  justify-content: right;
  margin-right: 5vw;
  gap: 7vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.service-logo img{
  width:15vw;
}

.service-images{
  width: 85vw;
  position: relative;
  background: url("/assets/r1.jpg")center/cover no-repeat ;
  aspect-ratio: 0.95;
  margin-bottom: 5vh;
}

.service-image-buttons{
  position: absolute;
  right: -8vw;
  bottom: 12vh;
  display: flex;
  
}

#button-left{
  background-color: #fff;
  padding: 1vh 2vw;
  font-size: 4vw;
}

#button-right{
  width: 8vw;
  background-color: black;
  color: #fff;
  padding: 1vh 2vw;
  font-size: 4vw;
}

.nav-btn-prev{
 background-color: #fff;
 padding: 3vw;
 width: 10vw;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.nav-btn-next{
   background-color: #0e0e0e;
 
 width: 10vw;
 border-radius: 50%;
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
}
.slider-buttons{
  width: 25vw;
  display: flex;
  gap: 5vw;
  position: absolute;
  bottom: 3vh;
  right: -11vw;
}

.service-below{
  display: flex;
}

.logo-wardrobe{
margin-right: 15vw;
}
.logo-bedroom{
margin-right: 30vw;

}

.service-below {
  position: relative;
}

.service-dots-vertical {
  position: absolute;
  bottom: 12vh;
  right: 5vw;        /* adjust your position here */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

/* non-clickable dot */
.service-dots-vertical .dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  opacity: 0.25;
  pointer-events: none;  /* IMPORTANT: makes non-clickable */
  transition: opacity .2s, transform .2s;
}

.service-dots-vertical .dot.is-active {
  opacity: 1;
  transform: scale(1.25);
}
