#service {
  position: sticky;
  top: 6vh;
  padding-top: 0.5vh;
  min-height: 90dvh;
  width: 100%;
  z-index: 10;
  background-color: #f8f8f8;
}

/* Class added by JS when the section is "pinned" in the viewport */

#service h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 1vw;
  display: inline-block;
  margin-left: 5vw;
  font-size: 3.5vh;
  border-bottom: 1px solid #2c2d31d7;
}

/* Container that holds all slides */
#service-container {
  position: relative;
  /* Use full viewport height minus header/title space */
  min-height: calc(100vh - 12vh);
  margin-top: 2vh;
  margin-bottom: 7vh;
  overflow: hidden;
  padding-top: 2vh;
}

/* --- Slide Transition and Layout Fixes --- */

.service-slide {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 1vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.service-slide.is-current {
  opacity: 1;
  pointer-events: auto;
}

/* --- Image and Data Alignment (Fixing the gap/shifting) --- */

.service-data {
  width: 100%;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#service-suppport{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.service-data h3 {
  text-align: right;
  margin: 1vh 2vw;
  font-size: 3vh;
  color: #2c2d31d7;
  margin-top: 2vh;
}
.service-data p {
  text-align: right;
  width: 85%;
  display: -webkit-box;
  line-clamp:6;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  margin: 0.5vh 2vw;
}

.service-logo {
  display: flex;
  justify-content: right;
  margin-right: 5vw;
  gap: 7vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.service-logo img {
  width: 15vw;
}

.service-images {
  width: 85vw;
  position: relative;
  background: url("/assets/r1.jpg") center/cover no-repeat;
  aspect-ratio: 0.95;
  margin-bottom: 5vh;
}

.nav-btn-prev {
  background-color: #fff;
  padding: 3vw;
  width: 10vw;
  border-radius: 50%;
  display: flex;
  color: #2c2d31;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px #2c2d3188,
  inset 1px 1px 10px #80808147;
}
.nav-btn-next {
  background-color: #2c2d31;
  width: 10vw;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 
  2px 2px 10px #2c2d3188,
  inset 1px 1px 10px #a0a0a079;

}
.slider-buttons {
  width: 25vw;
  display: flex;
  gap: 5vw;
  position: absolute;
  bottom: 3vh;
  right: -12vw;
}

.service-below {
  display: flex;
}

.logo-wardrobe {
  margin-right: 15vw;
}
.logo-bedroom {
  margin-right: 30vw;
}

.service-below {
  position: relative;
}

.service-dots-vertical {
  position: absolute;
  bottom: 15vh;
  right: 7vw; /* adjust your position here */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 10;
}

/* non-clickable dot */
.service-dots-vertical .dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000000b2;
  opacity: 0.25;
  pointer-events: none; /* IMPORTANT: makes non-clickable */
  transition: opacity 0.2s, transform 0.2s;
}

.service-dots-vertical .dot.is-active {
  opacity: 1;
  transform: scale(1.25);
}

/* TABLET PORTRAIT */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .service-data p {
  text-align: right;
  width: 75%;
  font-size: 2.4vh;
  display: -webkit-box;
  line-clamp:6;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  
}
#service-suppport{
  flex-direction: row-reverse;
}
.service-logo img {
  width: 14vw;
}
.logo-wardrobe {
  margin-right: 0;
  margin-bottom: 0vh;
}
.logo-bedroom {
  margin-right: 0vw;
  margin-bottom: -3vh;
}


.service-data h3{
  
  font-size: 3.5vh;
}
.service-images {
  width: 75vw;
  margin-left: 3vh;
  margin-bottom: 0;
}
#service-suppport{
  align-items: end;
  align-items: flex-start;
}
.service-slide{
  gap: 2vh;
}
.nav-btn-prev i{
  font-size: 3vw;
}
.nav-btn-next i{
  font-size: 3vw;
}
.service-dots-vertical{
   right: 12vw;
   gap: 24px;
}
.service-dots-vertical .dot{
  width: 18px;
  height: 18px;
}



}

/* Laptop / Desktop */
@media (min-width: 1025px) {
.service-slide{
  flex-direction: row-reverse;
}
.service-below{
  width: 50vw;
}
.service-images{
  margin-left: 5vh;
    width: 40vw;
}
#service h2{
  font-size: 5vh;
}
.service-logo img {
  width: 8vw;
}
.nav-btn-prev{
   width: 4vw;
   padding: 1vw;
}
.nav-btn-next{
   width: 4vw;
}
.slider-buttons{
  width: 13vw;
  right: -6vw;
}
.service-data{
  width: 50vw;
}
.service-data h3{
  font-size: 5.5vh;
  margin-bottom: 6vh;
}
.service-data p{
  font-size: 4vh;
  margin-bottom: 3vh;
  line-clamp:10;
  -webkit-line-clamp:10;
}
.logo-wardrobe {
  margin-right: 7.5vw;
}
.logo-bedroom {
  margin-right: 15vw;
}
.service-dots-vertical{
  right: 2vw;
  gap: 20px;
}
.service-dots-vertical .dot{
  width: 16px;
  height: 16px;
}

}