/* =========================
   HERO LAYOUT
========================= */

#hero {
  display: flex;
  flex-direction: column;
}

.intro {
  position: relative;
  width: 89vw;
  margin-left: 3vw;
  padding: 1vh 0 2vh 5vw;
  border-left: 1px solid var(--color-main-soft);
}

.intro img {
  height: 13vh;
  margin-bottom: 1vh;
  aspect-ratio: 2061/694;
}

.seo-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#her0-sub-title {
  width: 45vw;
  font-family: var(--font-subtitle);
  font-weight: 600;
  font-size: 2.1vh;
  color: #2c2d31db;
}

/* =========================
   HERO IMAGE
========================= */

#hero-img {
  width: 94vw;
  margin-left: 3vw;
  aspect-ratio: 2830 / 3149;
  background: url("../assets/q1.jpg") center / cover no-repeat;
  position: relative;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
}

.hero-icons {
  position: absolute;
  bottom: 1vh;
  right: 5vw;
  display: flex;
  gap: 7vw;
}

.hero-icons .social {
  color: #fff;
  font-size: 3vh;
}

/* =========================
   HERO BANNER
========================= */
/* MOBILE PORTRAIT */

#banner {
  position: relative;
  width: 35vw;
  height: 26vh;
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(to right, #2c2d31 0%, #34363b 60%, #3a3b3f 100%);
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.35),
    inset 3px 3px 7px rgba(148, 148, 148, 0.5);
  z-index: 10;
}

#banner::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
}

@media (max-width: 599px) and (orientation: portrait) {
  #banner {
    position: absolute;
    top: 15vh;
    right: 0;
  }
}


#banner-head,
#banner-text,
#banner-para {
  font-family: var(--font-body);
  font-weight: 400;
  color: #fff;
  text-align: left;
}

#banner-head {
  font-size: 2vh;
}
#banner-text,
#banner-para {
  font-size: 1.8vh;
}

/* =========================
   STATS
========================= */

#stats-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7vh;
}

.stats h3 {
  font-family: var(--font-title);
  font-size: 3.5vh;
  letter-spacing: 1px;
  color: #2c2d31c3;
}

.stats h5 {
  font-family: var(--font-body);
  font-size: 1.8vh;
  text-align: center;
  color: #2c2d319d;
}

/* =========================
   HEADER
========================= */

header#site-header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #edefef;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s linear;
  z-index: 1000;
}

.header-inner {
  width: 100%;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 4vw;
}
.header-logo-box{
  width: 70vw;
}

.header-logo-box img {
  height: auto;
   width: 50%;
   aspect-ratio: 1965/694;
}

.header-brand {
  font-family: var(--font-title);
  font-size: 2.2vh;
  letter-spacing: 2px;
  font-weight: 600;
  color: #2c2d31;
}

/* =========================
   MENU BUTTON
========================= */

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn i {
  font-size: 2.6vh;
  color: #2c2d31;
  transition: transform 0.3s ease;
}

.menu-btn.open i {
  transform: rotate(90deg);
}

/* =========================
   SIDE MODAL
========================= */

.side-modal {
  position: fixed;
  inset: 0;
  transform: translateX(100%);
  transition: transform 0.9s cubic-bezier(0.25, 0.9, 0.25, 1);
  background: #fff;
  z-index: 1000;
  overflow: hidden;
}

.side-modal.open {
  transform: translateX(0);
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

#modal-head {
  position: absolute;
  top: 0;
  right: 0;
  height: 5vh;
  display: flex;
  align-items: center;
}

.modal-close {
  font-size: 4vh;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5vw;
  color: #1b1b1b;
}

.main-modal-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 20vh;
}

.main-modal-nav a {
  width: 30vw;
  text-align: center;
  padding-bottom: 1vh;
  font-family: var(--font-body);
  font-size: 3vh;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1b1b1b;
  border-bottom: 1px solid #1b1b1bc0;
  transition: 0.25s ease;
}

.main-modal-nav a:hover {
  color: #0a3d62;
}

/* =========================
   TABLET PORTRAIT
========================= */

@media (min-width: 600px) and (max-width: 1024px)  {
  #hero {
    flex-direction: row;
  }

  .intro img {
    width: 70%;
  height: auto;
  aspect-ratio: 1965/694;
}

  .intro {
    width: 47vw;
    margin-left: 0;
    padding-left: 3vw;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-main-soft);
  }
  .intro-title {
    gap: 6vw;
  }

  
  .intro h1 {
    font-size: 3.7vh;
    line-height: 1.2;
  }

  #her0-sub-title {
    width: 35vw;
    font-size: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  #hero-img {
    width: 60vw;
    margin: 4vh 2vw 0 0;
  }

  #banner {
    width: 85%;
    height: 23vh;
    padding: 2vh 2vw;
    justify-content: space-between;
  }

  .hero-icons {
    gap: 4vw;
  }

  #stats-container {
    margin-top: 5vh;
    justify-content: space-around;
  }

  .stats {
    flex-direction: row;
    gap: 2vw;
  }
  .header-logo-box img {
  height: auto;
   width: 27%;
   aspect-ratio: 2061/694;
}
}

/* Laptop / Desktop */
@media (min-width: 1025px) {
  #hero {
    flex-direction: row;
    margin-right: auto;
  }
  #hero-wrap {
    display: flex;
    flex-direction: row;
  }

  .intro {
    margin-left: 0;
    width: 40vw;
    padding-left: 5vw;
    padding-right: 4vw;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-main-soft);
  }

  .intro h1 {
    font-size: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    letter-spacing: 6px;
    line-height: 1.4;
  }

  #her0-sub-title {
    width: 30vw;
    font-size: 3.8vh;
  }

  #hero-img {
    margin: 8vh 0vw 0 0;
  }

  #banner {
    height: 37vh;
    padding: 2vh 2vw;
    width: 29vw;
    justify-content: space-around;
  }
  #banner-head {
    font-size: 3vh;
  }
  #banner-text,
  #banner-para {
    font-size: 2.5vh;
  }

  .hero-icons {
    gap: 2vw;
  }
  .hero-icons {
    right: 3vw;
  }

  #stats-container {
    margin-top: 5vh;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3vw;
  }

  .stats {
    flex-direction: column;
    gap: 2vw;
  }
   .header-logo-box img {
  height: auto;
   width: 10%;
   aspect-ratio: 1965/694;
}
  #hero-img{
   width: 45vw;
    margin-right: 5vw;
    height: 80vh;
  }
  .intro img {
    margin-top: 4vh;
    width: 60%;
    height: auto;
    aspect-ratio: 2061/694;
  }
}



