/* css/journey.css */

#journey h2 {
  font-family: var(--font-title);
  letter-spacing: 2px;
  padding-left: 1vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
  color: #2c2d31;
  border-bottom:1px solid #2c2d31e5 ;
  font-size: 3.5vh;
  display: inline-block ;
  margin-left: 5vw;
}

.journey-image{
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url("../assets/j.webp")center/cover no-repeat;
  width: 100vw;
  aspect-ratio: 4000/3000;
  font-family: var(--font-body);
  display: flex;
  align-items: center;
  padding: 2vh 0;
  justify-content: center;
  margin-top: 4vh;
  flex-direction: column;
  gap: 5vh;
}

.journey-image h3{
  color: #fff;
  font-size: 3.3vh;
  text-align: center;
letter-spacing: 1px;
font-weight: 400;
}
.journey-para p{
font-family: var(--font-subtitle);
width: 90vw;
margin-left: 5vw;
text-align: center;
font-size: 2.1vh;
line-height: 1.5;
}
.journey-para{
  margin-top: 4vh;
}
.journey-image a{
color: #2c2d31;
border: 1px solid #fff;
text-decoration: none;
background-color: #fff;
padding: 0.6vh 3vw;
border-radius: 12px;
font-size: 2vh;
font-family: var(--font-body);
}

/* TABLET PORTRAIT */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  
#journey h2 {
  margin-top: 5vh;
}
.journey-image h3{
  font-size: 4.5vh;
}
.journey-para p{
font-size: 2.5vh;
width: 88vw;
margin-left: 6vw;
}
.journey-image{
  gap: 8vh;
}
}

/* Laptop / Desktop */
@media (min-width: 1025px) {
#journey h2 {
  font-size: 6vh;
  margin-top: 10vh;
  margin-bottom: 7vh;
}
#journey-wrap{
  display: flex;
}
.journey-image{
  width: 40vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.journey-para{
  width: 50vw;
  display: flex;
  align-items: center;
}
.journey-para p{
  width: 90%;
  margin-left: 5%;
  font-size: 4vh;
}
.journey-image h3{
  font-size: 4vh;
}
.journey-image a{
  font-size: 2.5vh;
}
}