/* css/welcome.css */

/* main "Welcome" title */
#title {
  font-family: var(--font-title);
  letter-spacing: 2px;
  font-size: 4vh;
  margin-left: 5vw;
  padding-left: 1vw;
  padding-right: 3vw;
  margin-top: 6vh;
  display: inline-block ;
  margin-bottom: 2vh;
  border-bottom:1px solid #2c2d31e5 ;
}

/* top welcome block */
#welcome-main {
  display: flex;
  flex-direction: column;
}

/* banner with bg image and text */
.welcome-main-banner {
  display: flex;
  width: 100vw; 
  position: relative;
  margin-bottom: 3vh;
  gap: 5vw;
  margin-top: 2vh;
}
 
.welcome-main-banner img{
  width: 100%;
  aspect-ratio: 518/569;
}
.welcome-main-text{
  width: 45vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#silhoutte{
  width: 45vw;
}
.welcome-main-text h3 {
  text-align: center;
  width:100%;
  color: #2c2d31d0;
  font-family: var(--font-body);
}

.welcome-main-banner p {
  width: 100%;
  text-align: center;
  line-height: 1.3;
  color: #2c2d31;
  font-size: 16px;
  font-family: var(--font-subtitle);
}

/* image on right under welcome */
.welcome-main-img {
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 3vh;
}

.welcome-main-img img {
  width: 100%;
}

/* Welcome-down section */
#w-down-grid {
  display: flex;
  height: 45vh;
  margin-top: 4vh;
}

#w-down-banner {
  width: 45vw;
  position: relative;
  height: 100%;
  margin-right: 4vw;
  margin-left: 3vw;
 background: linear-gradient(
  160deg,
  #252629 0%,
  #2c2d31 40%,
  #34363b 75%,
  #3a3b3f 100%
);
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
   box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.35),
    inset 3px 3px 7px rgba(148, 148, 148, 0.5);
}
#w-down-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.2; /* adjust grain strength */

  background-image: 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='140' viewBox='0 0 140 140'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
}

.welcome-image {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-image img {
  width: 100%;
}

.w-down-para p {
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
  font-size: 2.2vh;
  line-height: 1.5;
  margin-top: 4vh;
  font-family: var(--font-subtitle);
}
.w-down-points{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
}
#w-down-banner-text{
  color: #fff;
  font-family: var(--font-body);
  text-align: center;
  font-size: 2vh;
  
}
.w-down-points img{
  width: 8vw;
}
.w-down-points h4{
  color: #fff;
  font-size: 1.8vh;
  text-align: center;
  font-family: var(--font-body);
  font-weight: 400;
  width: 38vw;
}

/* TABLET PORTRAIT */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  #title{
    margin-top: 6vh;
  }
  .welcome-main-text h3{
    font-size: 3vh;
  }
  .welcome-main-banner p{
    font-size: 32px;
  }
  .welcome-image img{
    width: 90%;
  }
  #w-down-banner{
    width: 43vw;
    margin-left: 5vw;
    margin-right: 7vw;
    padding: 3vh 2vw;
    justify-content: space-around;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.35),
    inset 6px 6px 14px rgba(148, 148, 148, 0.5);
    
  }
  #w-down-grid{
    height: 60vh;
  }
  .w-down-para p{
    font-size: 2.6vh;
    margin-top: 5vh;
  }
  .w-down-points h4{
font-size: 2.1vh;
  }
  .w-down-points{
  gap: 3vh;
}
}


/* Laptop / Desktop */
@media (min-width: 1025px) {
#title {
  font-size: 6vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
#welcome-main{
  flex-direction: row-reverse;
  width: 100vw;
  margin-bottom: 10vh;
}
.welcome-main-banner{
  width: 50%; 
  margin-top: 0;
  gap: 2vw;
}
.welcome-main-img{
  width: 50%;
  margin-left: 3vw;
}
.welcome-main-img img {
  width: 90%;
  
}
.welcome-main-text h3{
  font-size: 4.5vh;
}
.welcome-main-banner p{
  font-size: 24px;
}
.welcome-main-text{
  margin-left: 0;
}
#welcome-down-wrap{
  display: flex;
  width: 100vw;
  margin-bottom: 10vh;
}

.welcome-image{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 52vw;
}
.welcome-image img {
  width: 25vw;
}
#w-down-banner{
  width: 15vw;
  margin-right: 3vw;
}
.w-down-para p {
width: 80%;
margin-left:10%;
font-size: 3vh;
margin-top: 0;
}
#w-down-grid{
  margin-top: 0;
  
}
.w-down-points img{
  width:2.5vw;
}
.w-down-para{
  display: flex;
  width: 27vw;
  align-items: center;
}
.w-down-points h4{
  display: inline;
  width: 13vw;
}
}

/* MOBILE LANDSCAPE */
@media (max-width: 899px) and (orientation: landscape) {
 #w-down-grid {
  
  height: 75vh;
  
}
.w-down-points img{
  width: 3vw;
}
#w-down-banner{
  width: 20vw;
}
.welcome-image{
flex-direction: row;
gap: 4vw;
}
.welcome-image img {
  width: 70%;
}

}
